.idea/DS_HW_03.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
demo-4/.vagrant/bundler/global.sol
demo-4/.vagrant/machines/client-0/docker/action_provision
demo-4/.vagrant/machines/client-0/docker/creator_uid
demo-4/.vagrant/machines/client-0/docker/id
demo-4/.vagrant/machines/client-0/docker/index_uuid
demo-4/.vagrant/machines/client-0/docker/synced_folders
demo-4/.vagrant/machines/client-1/docker/action_provision
demo-4/.vagrant/machines/client-1/docker/creator_uid
demo-4/.vagrant/machines/client-1/docker/id
demo-4/.vagrant/machines/client-1/docker/index_uuid
demo-4/.vagrant/machines/client-1/docker/synced_folders
demo-4/.vagrant/machines/client-2/docker/vagrant_cwd
demo-4/.vagrant/machines/client-3/docker/vagrant_cwd
demo-4/.vagrant/machines/client-4/docker/vagrant_cwd
demo-4/.vagrant/machines/client-5/docker/vagrant_cwd
demo-4/.vagrant/machines/client-6/docker/vagrant_cwd
demo-4/.vagrant/machines/commands-node/docker/action_provision
demo-4/.vagrant/machines/commands-node/docker/creator_uid
demo-4/.vagrant/machines/commands-node/docker/id
demo-4/.vagrant/machines/commands-node/docker/index_uuid
demo-4/.vagrant/machines/commands-node/docker/synced_folders
demo-4/.vagrant/machines/zoonavigator/docker/creator_uid
demo-4/.vagrant/machines/zoonavigator/docker/id
demo-4/.vagrant/machines/zoonavigator/docker/index_uuid
demo-4/.vagrant/machines/zoonavigator/docker/synced_folders
demo-4/.vagrant/machines/zoonode/docker/action_provision
demo-4/.vagrant/machines/zoonode/docker/creator_uid
demo-4/.vagrant/machines/zoonode/docker/id
demo-4/.vagrant/machines/zoonode/docker/index_uuid
demo-4/.vagrant/machines/zoonode/docker/synced_folders
demo-4/.vagrant/rgloader/loader.rb
.idea/DS_HW_03.iml
demo-4/.vagrant/machines/client-0/docker/vagrant_cwd
demo-4/.vagrant/machines/client-1/docker/vagrant_cwd
demo-4/.vagrant/machines/commands-node/docker/vagrant_cwd
demo-4/.vagrant/machines/zoonavigator/docker/vagrant_cwd
demo-4/.vagrant/machines/zoonode/docker/vagrant_cwd
